{% load wagtailcore_tags wagtailadmin_tags %}
{% if is_shown %}
    {% panel id="bundles-for-preview" heading="Bundles ready for preview" classname="w-panel--dashboard" %}
        {% if bundles %}
            <table class="listing listing--dashboard">
                <col />
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
                <thead>{# add class="w-sr-only" to make this visible for screen readers only #}
                    <tr>
                        <th class="title">Name</th>
                        <th>Scheduled for</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bundle in bundles %}
                        <tr>
                            <td class="title">
                                <div class="title-wrapper">
                                    <a href="{% url 'bundle:inspect' bundle.pk %}" title="View">{{ bundle.name }}</a>
                                </div>
                            </td>
                            <td>
                                {{ bundle.scheduled_publication_date|default_if_none:"" }}
                            </td>
                            <td>{% if bundle.updated_at %}{% human_readable_date bundle.updated_at %}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    {% if more_link %}
                        <tr>
                            <td colspan="3">
                                <a href="{% url 'bundle:index' %}{% querystring status="IN_REVIEW" %}" class="button button-secondary button-small">View all bundles ready for preview</a>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        {% else %}
            <p class="ons-padding-start">There are currently no bundles for preview.</p>
        {% endif %}
    {% endpanel %}
{% endif %}
