{% load wagtailcore_tags wagtailadmin_tags %}
{% if is_shown %}
    {% panel id="latest-bundles" heading="Latest active bundles" classname="w-panel--dashboard" %}
        <div class="ons-padding-start ons-padding-end">
            {% help_block status="info" %}
                <p>Bundles are collections of pages and datasets to publish together. Showing the latest {{ num_bundles }}.</p>
            {% endhelp_block %}
            <p>
                <a href="{% url 'bundle:add' %}" class="button bicolor button--icon">{% icon name="plus" wrapped=1 %}Add bundle</a>
                <a href="{% url 'bundle:index' %}" class="button button-secondary">View all bundles</a>
            </p>
        </div>
        {% if bundles %}
            <table class="listing listing--dashboard">
                <col />
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
                <thead>{# add class="w-sr-only" to make this visible for screen readers only #}
                    <tr>
                        <th class="title">Title</th>
                        <th>Status</th>
                        <th>Scheduled publication date</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bundle in bundles %}
                        <tr>
                            <td class="title">
                                <div class="title-wrapper">
                                    <a href="{% url 'bundle:edit' bundle.pk %}" title="Edit this bundle">{{ bundle.name }}</a>
                                </div>
                                <ul class="actions">
                                    <li>
                                        {% dropdown toggle_icon="dots-horizontal" toggle_aria_label="Actions" %}
                                            <a href="{% url 'bundle:edit' bundle.pk %}">Edit</a>
                                            <a href="{% url 'bundle:inspect' bundle.pk %}">View</a>
                                        {% enddropdown %}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                {{ bundle.get_status_display }}
                            </td>
                            <td>
                                {{ bundle.scheduled_publication_date|default_if_none:"" }}
                            </td>
                            <td>{% if bundle.updated_at %}{% human_readable_date bundle.updated_at %}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="ons-padding-start">There are currently no active bundles.</p>
        {% endif %}
    {% endpanel %}
{% endif %}
