{% extends "layout/_template.njk" %}
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
{% from "components/header/_macro.njk" import onsHeader %}
{% from "components/footer/_macro.njk" import onsFooter %}

{# fmt:off #}
{% set languages=get_translation_urls() %}
{% set hreflangs=get_hreflangs() %}

{% if page %}
    {% set body_class = ["template-", page.get_verbose_name()| lower | replace(" ", "-")] | join %}
    {% set canonical_url = page.get_canonical_url(request) %}
{% else %}
    {% set body_class = '' %}
{% endif %}

{%- set page_title_default -%}
    {%- with current_site=wagtail_site() -%}
        {# TODO: This doesn't account for no page object, in which case it falls back on a bad DS default
                 This logic must remain on a single line when done in template, could be moved to python to be more readable #}
        {% if current_site and page.pk == current_site.root_page.pk and current_site.site_name %}{{ current_site.site_name }} - {% endif %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.display_title | default(page.title) }}{% endif %}{% if current_site and page.pk != current_site.root_page.pk and current_site.site_name %} - {{ current_site.site_name }}{% endif %}
    {%- endwith -%}
{%- endset -%}
{%- set page_title = page_title | default(page_title_default) -%}

{% set navigation_settings = settings.navigation.NavigationSettings %}
{% set main_menu = main_menu | default(navigation_settings.main_menu.localized) %}

{% set footer_menu = footer_menu | default(navigation_settings.footer_menu.localized) %}

{#- We set variables for text so that it gets picked up by makemessages -#}
{%- set badge_label = _("Beta") -%}
{%- set badge_html = _("This is a new service.") -%}
{%- set menu_label = _("Menu") -%}
{%- set menu_label = _("Main menu") -%}
{%- set menu_toggle_aria_label = _("Toggle main menu") -%}
{%- set breadcrumbs_aria_label = _("Breadcrumbs") -%}

{%- set ogl_pre = _('All content is available under the') -%}
{%- set ogl_text = 'Open Government Licence v3.0' -%}
{%- set ogl_url = 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' -%}
{%- set ogl_post = _(', except where otherwise stated') -%}

{% set pageConfig = {
    "bodyClasses": body_class,
    "title": page_title,
    "header": {
        "variants": "basic",
        "phase": {
            "badge": badge_label,
            "html": badge_html
        },
        "language": {
            "languages": languages
        },
        "mastheadLogoUrl": "/",
        "menuLinks": {
            "id": "nav-links-external",
            "ariaLabel": menu_label,
            "ariaListLabel": menu_label,
            "toggleNavButton": {
                "text":menu_label,
                "ariaLabel": menu_toggle_aria_label
            },
            "keyLinks": main_menu_highlights(main_menu),
            "columns": main_menu_columns(main_menu)
        }
    },
    "footer": {
        "cols": footer_menu_columns(footer_menu),
        "oglLink": {
            "pre": ogl_pre,
            "text": ogl_text,
            "url": ogl_url,
            "post": ogl_post
        }
    },
    "meta": {
        "hrefLangs": hreflangs,
        "canonicalUrl": canonical_url,
    }
}
%}

{# fmt:on #}
{% block head %}
    <link rel="stylesheet" href="{{ static ('css/main.css') }}">

    {% if GOOGLE_TAG_MANAGER_CONTAINER_ID and not request.is_preview %}
        <script>
            window.dataLayer = window.dataLayer || [];
            dataLayer.push({
                "product": "wagtail",
                "gtm.allowlist": ["google", "hjtc", "lcl"],
                "gtm.blocklist": ["customScripts", "sp", "adm", "awct", "k", "d", "j"]
            });
        </script>

        {% if page %}
            <script>
                dataLayer.push({{ page.get_analytics_values(request)|tojson }});
            </script>
        {% endif %}

        <script>
            function loadGTM(){
                (function(w,d,s,l,i){
                    w[l]=w[l]||[];
                    w[l].push({
                        'gtm.start': new Date().getTime(),
                        event:'gtm.js'
                    });
                    var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                    j.async=true;
                    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                    f.parentNode.insertBefore(j,f);
                })
                (window,document,'script','dataLayer', "{{ GOOGLE_TAG_MANAGER_CONTAINER_ID|escape }}");
            }

            function isUsageCookieAllowed(){
                var re = /^(.*)?\s*'usage':true\s*[^;]+(.*)?$/;
                return document.cookie.match(re);
            }

            if (isUsageCookieAllowed()) {
                loadGTM();
            }
        </script>
    {% endif %}

{% endblock  %}

{% block bodyEnd %}
    {% if not IS_EXTERNAL_ENV %}
        {{ wagtailuserbar() }}
    {% endif %}
{% endblock %}

{% block header %}
{# fmt:off #}
    {{
        onsHeader({
            "wide": pageConfig.wide,
            "fullWidth": pageConfig.fullWidth,
            "language": pageConfig.header.language,
            "button": pageConfig.header.signoutButton,
            "toggleNavigationButton": pageConfig.header.toggleNavigationButton,
            "navigation": pageConfig.header.navigation,
            "siteSearchAutosuggest": pageConfig.header.siteSearchAutosuggest,
            "browserBanner": pageConfig.header.browserBanner,
            "phase": pageConfig.header.phase,
            "menuLinks": pageConfig.header.menuLinks,
            "variants": pageConfig.header.variants,
            "classes": pageConfig.header.classes,
            "mastheadLogo": pageConfig.header.mastheadLogo,
            "mastheadLogoUrl": pageConfig.header.mastheadLogoUrl,
            "titleUrl": pageConfig.header.titleUrl,
            "title": pageConfig.header.title | default(pageConfig.title),
            "description": pageConfig.header.description,
            "titleAsH1": pageConfig.header.titleAsH1,
            "titleLogo": pageConfig.header.titleLogo
        })
    }}
{# fmt:on #}
{% endblock %}

{% block scripts %}
    <script src="{{ static('js/main.js') }}"></script>
{% endblock %}

{% block preHeader %}

  {# fmt:off #}
  {{
    onsCookiesBanner({
      'lang': "cy" if LANGUAGE_CODE == "cy" else "en",
      'serviceName': ONS_COOKIE_BANNER_SERVICE_NAME,
      'settingsLinkUrl': COOKIES_PAGE_URL,
    })
  }}
  {# fmt:on #}

{% endblock %}
