{% extends "templates/base.html" %}
{% from "components/back-to-top/_macro.njk" import onsBackToTop %}

{#- Untranslated pages will have aliases to the original page -#}
{%- if page.alias_of and request.LANGUAGE_CODE != page.alias_of.locale.language_code -%}
    {%- set localised_version_not_available = true -%}
{%- endif -%}

{% block meta %}
    {{ super() }}
    {% if page %}
        {# Render all JSON LD properties from the page object #}
        {{ ld.for_object(page) }}
    {% endif %}

    {% if no_index %}
        <meta name="robots" content="noindex" />
    {% endif %}
{% endblock meta %}

{% block social %}
    {% with current_site=wagtail_site() %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ settings.core.SocialMediaSettings.twitter_handle }}" />
        <meta name="twitter:title" content="{{ page.seo_title or page.title }}" />
        <meta name="twitter:description" content="{{ page.social_text|default or settings.core.SocialMediaSettings.default_sharing_text }}">
        {% with social_image=page.social_image|default or settings.core.SocialMediaSettings.default_sharing_image %}
            {% if social_image  %}
                {% with twitter_img=image(social_image, "width-1000") %}
                    <meta name="twitter:image" content="{{ twitter_img.url }}">
                    {% if twitter_img.alt %}
                        <meta name="twitter:image:alt" content="{{ twitter_img.alt }}">
                    {% endif %}
                {% endwith %}
                {% with og_img=image(social_image, "fill-1200x630-c100") %}
                    <meta property="og:image" content="{{ og_img.url }}" />
                    <meta property="og:image:width" content="{{ og_img.width }}" />
                    <meta property="og:image:height" content="{{ og_img.height }}" />
                {% endwith %}
            {% else %}
                <meta property="og:image" content="{{ DEFAULT_OG_IMAGE_URL }}" />
            {% endif %}
        {% endwith %}
        <meta property="og:type" content="website" />
        {% if page %}
            <meta property="og:url" content="{{ page.get_full_url(request) }}" />
            <meta property="og:title" content="{{ page.seo_title or page.title }}" />
        {% endif %}
        <meta property="og:description" content="{{ page.social_text|default or settings.core.SocialMediaSettings.default_sharing_text }}" />
        <meta property="og:site_name" content="{{ settings.core.SocialMediaSettings.site_name }}" />
    {% endwith %}
{% endblock social %}

{%- block bodyStart -%}
    {%- if request.is_preview and request.preview_mode == "bundle-preview" -%}
        {% include "templates/components/preview-bar/preview-bar.html" %}
    {%- endif -%}
    {{ block.super }}
{%- endblock -%}

{% block pageContent %}
    {#- "Welsh" in Welsh is Cymraeg, but when we say "in Welsh" the noun uses soft mutation and becomes Gymraeg and the
    resulting phrase reads "yn y Gymraeg". Therefore we can't just translate the name of the language, so we use the
    "in Language" form here. -#}
    {#- Set as variables so that makemessages picks it up -#}
    {%- set english_label = _("in English") -%}
    {%- set welsh_label = _("in Welsh") -%}
    {%- set language_labels = {
    "en": english_label,
    "cy": welsh_label
    } -%}

    {%- set announcement_text -%}
        {% trans trimmed in_language=language_labels[request.LANGUAGE_CODE] %}This page is currently not available {{in_language}}. It is displayed in its original language.{% endtrans %}
    {%- endset -%}
    {# Adds a full-width section for the header area before the main page content #}
    {# Changes the location of the <main> tag from the base template - ensures it surrounds the header area #}
    {# This change should be adopted by the design system soon #}
    <main id="main-content">
        {% if localised_version_not_available %}
            {% from "components/panel/_macro.njk" import onsPanel %}
            {# fmt:off #}
            {{-
                onsPanel({
                    "variant": "announcement",
                    "body": announcement_text
                })
            -}}
            {# fmt:on #}
        {% endif %}
        {# This block should be overriden on individual page templates and include the breadcrumbs and page heading. This is default content while the build is in progress. #}
        {% block header_area %}
            <div class="ons-container">
                {% include "templates/components/navigation/breadcrumbs.html" %}
                <h1 class="ons-u-fs-3xl common-header__heading">
                    {{ page.title }}
                </h1>
            </div>
        {% endblock %}
        <div class="ons-page__container ons-container{{ containerClasses }}">
            <div class="ons-grid">
                <div class="ons-grid__col ons-col-{{ pageColNumber }}@m {{ pageColClasses }}">
                    {# This is the main tag in the base template in the design system #}
                    <div class="ons-page__main ons-u-mb-5xl {{ mainColClasses }}">
                        {% block main %}{% endblock %}
                        {{ onsBackToTop() }}{# used in small viewports #}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include "templates/partials/content_scripts.html" %}

    {# Load JS to refresh user session if required #}
    {% if AWS_COGNITO_LOGIN_ENABLED and not IS_EXTERNAL_ENV and request.user.is_authenticated %}
        {{ AUTH_CONFIG | json_script('auth-config') }}
        <script src="{{ static('js/auth.js') }}" defer></script>
    {% endif %}
{% endblock %}
