static_compiled
*.html
coverage
venv
.venv
.git
.mypy_cache
.coverage
media
node_modules
*.min.js
*.min.css

## this line and any new rules added below will be removed when a new project is created
docs/deployment.md
