services:
  db:
    image: postgres:16
    expose:
      - 5432
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      # Defaults for createdb/dropdb/pg_restore etc.
      PGDATABASE: ons
      PGUSER: ons
      # Values for initdb
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: ons
    volumes:
      - pgdata:/var/lib/postgresql/data
    attach: false
    ports:
      - 5432:5432

  redis:
    image: redis:7.2
    expose:
      - 6379
    attach: false
    ports:
      - 6379:6379

volumes:
  pgdata:
