---
services:
  db:
    image: postgres:16
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      # Defaults for createdb/dropdb/pg_restore etc.
      PGDATABASE: ons
      PGUSER: ons
      PGPORT: ${DB_PORT:-5432}
      # Values for initdb
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: ons
      REDIS_URL: redis://redis:6379
    volumes:
      - pgdata:/var/lib/postgresql/data
    attach: false
    ports:
      - ${DB_PORT:-5432}:${DB_PORT:-5432}

  redis:
    image: redis:7.2
    attach: false
    ports:
      - ${REDIS_PORT:-6379}:6379

  broker:
    image: bitnamilegacy/kafka:3.8 # Match Kafka version in production
    environment:
      # Enable plaintext connections for local testing.
      ALLOW_PLAINTEXT_LISTENER: 'yes'

      # Enable KRaft mode.
      KAFKA_ENABLE_KRAFT: 'yes'

      # Use the KAFKA_CFG_ prefix for Kafka config.
      KAFKA_CFG_NODE_ID: '1'
      KAFKA_CFG_PROCESS_ROLES: 'broker,controller'
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: '1@localhost:9093'

      KAFKA_CFG_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094'
      KAFKA_CFG_ADVERTISED_LISTENERS: 'PLAINTEXT://broker:9092,EXTERNAL://localhost:9094'
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT'

      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: '1'
      KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: '1'
      KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR: '1'
      KAFKA_CFG_GROUP_INITIAL_REBALANCE_DELAY_MS: '0'
      KAFKA_CFG_NUM_PARTITIONS: '3'

      # Enable auto-creation of topics
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: 'true'
    ports:
      - '${KAFKA_PORT:-9094}:9094'

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - '${MAILPIT_SMTP_PORT:-1025}:1025' # SMTP port
      - '${MAILPIT_UI_PORT:-8025}:8025' # HTTP UI at http://localhost:8025

volumes:
  pgdata:
