{% from "components/text-indent/_macro.njk" import onsTextIndent %}

{% if contact_details %}
    <section id="contact-details" class="spacing">
        <h2 class="ons-u-fs-l">{{ _("Contact details") }}</h2>

        {% call onsTextIndent() %}
            <p class="contact-details__line">
                <strong>Name</strong>: {{ contact_details.name }}
            </p>
            <p class="contact-details__line">
                <strong>Email</strong>: <a href="mailto:{{ contact_details.email }}">{{ contact_details.email }}</a>
            </p>
            {% if contact_details.phone %}
                <p class="contact-details__line">
                    <strong>Telephone</strong>: <a href="tel:{{ contact_details.phone|urlencode() }}">{{ contact_details.phone }}</a>
                </p>
            {% endif %}
        {% endcall %}
    </section>
{% endif %}
