/* The main scss file for the site, which imports all other scss files
Don't add css code directly to this file, add it to the relevant component file instead */

// New components not yet in the design system
@use 'components/accreditations';
@use 'components/article-header';
@use 'components/button-nav';
@use 'components/census-logo';
@use 'components/common-header';
@use 'components/corrections-and-notices';
@use 'components/document-list-block';
@use 'components/chart-embed';
@use 'components/contact-details';
@use 'components/featured-article';
@use 'components/headline-figures';
@use 'components/navigation';
@use 'components/panel';
@use 'components/release-header';
@use 'components/rich-text';
@use 'components/search-banner';
@use 'components/spacing';
@use 'components/topic-header';

// ONS design system overrides (until these are no longer needed)
@use 'components/design_system_overrides/back-to-top';
@use 'components/design_system_overrides/button';
@use 'components/design_system_overrides/container';
@use 'components/design_system_overrides/grid';
@use 'components/design_system_overrides/header';
@use 'components/design_system_overrides/page';
@use 'components/design_system_overrides/toc';
