// temporary css rule so the file is not empty
body {
    display: block;
}

// Custom CSS from Wagtail doc to enable responsive video embeds
.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
