/* The main scss file for the site, which imports all other scss files
Don't add css code directly to this file, add it to the relevant component file instead */

// New components not yet in the design system
@use 'components/accreditations';
@use 'components/census-logo';
@use 'components/corrections-and-notices';
@use 'components/chart-embed';
@use 'components/featured-article';
@use 'components/preview';
@use 'components/rich-text';
@use 'components/spacing';

// ONS design system overrides (until these are no longer needed)
@use 'components/design_system_overrides/back-to-top';
@use 'components/design_system_overrides/grid';
@use 'components/design_system_overrides/header';
