{% extends "templates/base_page.html" %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}
{% from "components/text-indent/_macro.njk" import onsTextIndent %}


{% block header_area %}
    <div class="common-header analysis-header {% if page.updates %}analysis-header--flush{% endif %}">
        <div class="ons-container">
            {% include "templates/components/navigation/breadcrumbs.html" %}
            <p class="analysis-header__doc-type ons-u-fs-l">{{ _("Analysis") }}</p>

            <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--40">
                <div class="ons-grid__col ons-col-10@m ">
                    <h1 class="ons-u-fs-3xl common-header__heading">
                        {{ page.display_title }}
                    </h1>

                    <div class="common-header__summary">{{ page.summary|richtext() }}</div>
                </div>
                <div class="ons-grid__col ons-col-2@m common-header__kitemark">
                    {% if page.is_accredited %}
                        {% include "templates/components/accredited/accredited-logo.html" %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% block release_meta %}
            {% if page.is_census %}
                <div class="ons-container">
                    {% include "templates/components/census/census-logo.html" %}
                </div>
            {% endif %}
            <div class="ons-container common-header__releases">
                <div>
                    <span class="ons-u-fs-r--b common-header__releases-label">{{ _("Release date") }}:</span>
                    <span class="ons-u-nowrap">{{ page.release_date|date("DATE_FORMAT") }}</span>
                </div>
                <div>
                    <span class="ons-u-fs-r--b common-header__releases-label">{{ _("Next release") }}:</span>
                    <span class="ons-u-nowrap">{{ page.next_release_date|date("DATE_FORMAT") or _("To be announced") }}</span>
                </div>
                <div>
                    <span class="ons-u-fs-r--b common-header__releases-label">{{ _("Edition") }}:</span>
                    <span class="ons-u-nowrap">{{ _("Latest") }}</span>
                </div>
                <div>
                    <span class="ons-u-fs-r--b common-header__releases-label">{{ _("Releases") }}:</span>
                    {% if page.is_latest %}
                        <a href="{{ routablepageurl(page.get_parent().specific, "previous_releases") }}">{{ _("View previous releases") }}</a>
                    {% else %}
                        <a href="{{ routablepageurl(page.get_parent().specific, "latest_release") }}">{{ _("View latest release") }}</a>
                    {% endif %}
                </div>
                {% if page.contact_details %}
                    <div>
                        <span class="ons-u-fs-r--b common-header__releases-label">{{ _("Contact") }}:</span>
                        <a href="mailto:{{ page.contact_details.email }}">{{ page.contact_details.name }}</a>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    </div>

    {% if page.updates %}
        {% include_block page.updates %}
    {% endif %}

    {% if page.headline_figures %}
        {% include_block page.headline_figures %}
    {% endif %}

{% endblock %}

{% block main %}
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--32">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
            {% with toc_title=_("Contents"), toc_aria_label=_("Sections in this page") %}
                {# fmt:off #}
                {{-
                    onsTableOfContents({
                        "title": toc_title,
                        "ariaLabel": toc_aria_label,
                        "itemsList": table_of_contents
                    })
                }}
                {# fmt:on #}
            {% endwith %}
        </div>

        <div class="ons-grid__col ons-col-8@m">
            {% include_block page.content %}

            {% if page.show_cite_this_page %}
                <section id="cite-this-page" class="spacing">
                    <h2 class="ons-u-fs-l">{{ _("Cite this analysis") }}</h2>
                    <p>
                        {%- set cite_link -%}
                            <a href="{{ fullpageurl(page) }}">{{ page.display_title }}</a>
                        {% endset %}
                        {% trans trimmed release_date=page.release_date|date("DATE_FORMAT"), cite_link=cite_link %}
                            Office for National Statistics (ONS), released {{ release_date }}, ONS website, analysis, {{ cite_link }}
                        {% endtrans %}
                    </p>
                </section>
            {% endif %}

            {% if page.contact_details %}
                <section id="contact-details spacing">
                    <h2 class="ons-u-fs-l">{{ _("Contact details") }}</h2>

                    {% call onsTextIndent() %}
                        <p class="contact-details__line">
                            <strong>Name</strong>: {{ page.contact_details.name }}
                        </p>
                        <p class="contact-details__line">
                            <strong>Email</strong>: <a href="mailto:{{ page.contact_details.email }}">{{ page.contact_details.email }}</a>
                        </p>
                        {% if page.contact_details.phone %}
                            <p class="contact-details__line">
                                <strong>Telephone</strong>: <a href="tel:{{ page.contact_details.phone | replace(' ','')}}">{{ page.contact_details.phone }}</a>
                            </p>
                        {% endif %}
                    {% endcall %}
                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}
