{% extends "templates/base_page.html" %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/button/_macro.njk" import onsButton %}

{% block header_area %}
    {# fmt:off #}
    {{
        onsHero({
            "title": 'Home',
            "variants": 'navy-blue'
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    {% call onsPanel({"variant": 'announcement'}) %}
        <h2 class="ons-u-mb-no">Welcome to the ONS Wagtail instance</h2>

        <div class="ons-u-fs-r">
            {% if not IS_EXTERNAL_ENV %}
                {% set adminUrl = url("wagtailadmin_home") %}

                <p>To access the administrative interface, please use the following option(s):</p>
                {% if WAGTAIL_CORE_ADMIN_LOGIN_ENABLED %}
                    {% set loginUrl = adminUrl ~ 'login/' %}
                    {# fmt:off #}
                    {{
                        onsButton({
                            "text": "Wagtail Core Default Login",
                            "url": loginUrl,
                            "variants": ["small", "secondary"],
                            "noIcon": true,
                        })
                    }}
                    {# fmt:on #}
                {% endif %}
                {% if AWS_COGNITO_LOGIN_ENABLED %}
                    {# fmt:off #}
                    {{
                        onsButton({
                            "text": "Florence Login",
                            "url": adminUrl,
                            "variants": "small",
                            "noIcon": true
                        })
                    }}
                    {# fmt:on #}
                {% endif %}
            {% endif %}
        </div>
    {% endcall %}
{% endblock %}
