{% extends "templates/base_page.html" %}
{% from "components/hero/_macro.njk" import onsHero %}

{% from "components/panel/_macro.njk" import onsPanel %}

{% block header_area %}
    {# fmt:off #}
    {{
        onsHero({
            "title": 'Home',
            "variants": 'navy-blue'
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    {% call onsPanel({"variant": 'announcement'}) %}
        <h2 class="ons-u-mb-no">Welcome to the ONS Wagtail instance</h2>

        <div class="ons-u-fs-r">
            {% if not IS_EXTERNAL_ENV %}
                <p>To access the administrative interface, please go to <a href="{{ url('wagtailadmin_home') }}"><code>/admin</code></a></p>
            {% endif %}
        </div>
    {% endcall %}
{% endblock %}
