{% extends "templates/base_page.html" %}
{% from "components/document-list/_macro.njk" import onsDocumentList %}
{% from "components/related-content/_macro.njk" import onsRelatedContent %}
{% from "components/hero/_macro.njk" import onsHero %}

{% block hero %}
    {# fmt:off #}
    {{
        onsHero({
            "title": page.title,
            "richText": page.summary|richtext(),
            "variants": 'grey',
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block mainContent %}

    {% if formatted_items %}
        {{ onsDocumentList({"documents": formatted_items}) }}
    {% endif %}

    {% include "templates/components/back-to-top/back-to-top.html" %}
{% endblock %}
