{% extends "templates/base_page.html" %}
{% from "components/document-list/_macro.njk" import onsDocumentList %}
{% from "components/related-content/_macro.njk" import onsRelatedContent %}

{% block main %}

    {% if page.description %}
        <p>{{ page.description }}</p>
    {% endif %}

    {% if formatted_items %}
        {{ onsDocumentList({"documents": formatted_items}) }}
    {% endif %}

    {% if page.content %}
        {% include_block page.content|richtext %}
    {% endif %}

    {% if related_links_list %}
        {# fmt:off #}
        {{
            onsRelatedContent({
                "ariaLabel": _('Related links'),
                "rows": [{
                    "id": 'related-content',
                    "title": _('Related links'),
                    "itemsList": related_links_list
                }]
            })
        }}
        {# fmt:on #}
    {% endif %}

{% endblock %}
