{% extends "templates/base_page.html" %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/related-content/_macro.njk" import onsRelatedContent %}

{# fmt:off #}
    {% if page.last_updated %}
        {%- set last_updated_label = _("Last updated") -%}
        {%- set last_updated_item = {
                "term": last_updated_label,
                "descriptions": [
                    {
                        "description": page.last_updated|ons_date("DATE_FORMAT")
                    }
                ]
            }
        -%}
    {% else %}
        {%- set last_updated_item = None -%}
    {% endif %}
{# fmt:on #}

{% block header_area %}
    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "title": page.title,
            "variants": 'grey',
            "text": page.summary|richtext(),
            "detailsColumns": 12,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [last_updated_item] | selectattr('term') | list,
            },
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
            {% include_block page.content %}

            {% if page.related_pages %}
                {%- set related_content_aria_label = _('Related content') -%}
                {%- set related_content_title = _('Related content') -%}

                {# fmt:off #}
                {{-
                    onsRelatedContent({
                        "ariaLabel": related_content_aria_label,
                        "rows": [{
                            "id": 'related-content',
                            "title": related_content_title,
                            "itemsList": page.related_pages
                        }]
                    })
                -}}
                {# fmt:on #}
            {% endif %}
        </div>
    </div>
{% endblock %}
