{% extends "templates/base_page.html" %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/related-content/_macro.njk" import onsRelatedContent %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}

{# fmt:off #}
    {% if page.last_published_at %}
        {%- set last_updated_description = page.last_published_at|ons_date("DATE_FORMAT") -%}
    {% else %}
        {%- set last_updated_description = "Populated on publish" -%}
    {% endif %}
    {%- set last_updated_label = _("Last updated:") -%}
    {%- set last_updated_item = {
            "term": last_updated_label,
            "descriptions": [
                {
                    "description": last_updated_description
                }
            ]
        }
    -%}
{# fmt:on #}

{% block header_area %}
    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "title": page.title,
            "variants": 'grey',
            "text": page.summary|richtext(),
            "detailsColumns": 12,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [last_updated_item] | selectattr('term') | list,
            },
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--xl ons-js-table-of-contents-container">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
            {% with toc_title=_("Contents"), toc_aria_label=_("Sections in this page") %}
                {# fmt:off #}
                {{-
                    onsTableOfContents({
                        "title": toc_title,
                        "ariaLabel": toc_aria_label,
                        "itemsList": table_of_contents,
                        "button": {
                            "text": _("Save or print this page")
                        }
                    })
                -}}
                {# fmt:on #}
            {% endwith %}
        </div>

        <div class="ons-grid__col ons-col-8@m">
            {% include_block page.content %}
        </div>
    </div>
{% endblock %}
