{% extends "templates/base_page.html" %}

{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/hero/_macro.njk" import onsHero %}

{#- We set variables for text so that it gets picked up by makemessages -#}
{%- set last_revised_label = _("Last revised:") -%}
{%- set published_label = _("Published:") -%}
{%- set contact_label = _("Contact:") -%}

{% block header_area %}
    {# fmt:off #}
    {% set publication_item = {
        "term": published_label,
        "descriptions": [
            {
                "description": page.publication_date|date("DATE_FORMAT")
            }
        ]
    } %}
    {# fmt:on #}

    {# fmt:off #}
    {% if page.last_revised_date %}
        {% set last_revised_item = {
                "term": last_revised_label,
                "descriptions": [
                    {
                        "description": page.last_revised_date|date("DATE_FORMAT")
                    }
                ]
            }
        %}
    {% else %}
        {% set last_revised_item = None %}
    {% endif %}
    {# fmt:on #}

    {% set contact_description_html -%}
        <a href="mailto:{{ page.contact_details.email }}">{{ page.contact_details.name }}</a>
    {%- endset %}

    {# fmt:off #}
    {% if page.contact_details %}
        {% set contact_item = {
                "term": contact_label,
                "descriptions": [
                    {
                        "description": contact_description_html
                    }
                ]
            }
        %}
    {% else %}
        {% set contact_item = None %}
    {% endif %}
    {# fmt:on #}

    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "topic": _("Methodology"),
            "title": page.title,
            "variants": 'grey',
            "text": page.summary|richtext(),
            "detailsColumns": 12,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [publication_item, last_revised_item, contact_item] | selectattr('term') | list,
            },
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--xl ons-js-toc-container">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
            {% with toc_title=_("Contents"), toc_aria_label=_("Sections in this page") %}
                {# fmt:off #}
                {{-
                    onsTableOfContents({
                        "title": toc_title,
                        "ariaLabel": toc_aria_label,
                        "itemsList": table_of_contents,
                        "relatedLinks": related_publications,
                        "button": {
                            "text": _("Save or print this page")
                        }
                    })
                -}}
                {# fmt:on #}
            {% endwith %}
        </div>

        <div class="ons-grid__col ons-col-8@m">
            {% include_block page.content %}

            {% if page.show_cite_this_page %}
                <section id="cite-this-page" class="spacing">
                    <h2 class="ons-u-fs-l">{{ _("Cite this methodology") }}</h2>
                    <p>
                        {%- set cite_link -%}
                            <a href="{{ fullpageurl(page) }}">{{ page.title }}</a>
                        {% endset %}
                        {% set latest_date = page.last_revised_date if page.last_revised_date else page.publication_date %}
                        {% trans trimmed latest_date_formatted = latest_date|date("DATE_FORMAT"), cite_link=cite_link %}
                            Office for National Statistics (ONS), last revised {{ latest_date_formatted }}, ONS website, methodology, {{ cite_link }}
                        {% endtrans %}
                    </p>
                </section>
            {% endif %}

            {% if page.contact_details %}
                {% with contact_details = page.contact_details %}
                    {% include "templates/components/contact_details/contact_details.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
