{% extends "templates/base_page.html" %}

{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/hero/_macro.njk" import onsHero %}

{% block header_area %}
    {% if page.contact_details %}
        {% set contact_description_html -%}
            <a href="mailto:{{ page.contact_details.email }}">{{ page.contact_details.name }}</a>
        {%- endset %}

        {# fmt:off #}
        {% set contact_details =
            {
                "term": "Contact:",
                "descriptions": [
                    {
                        "description": contact_description_html
                    }
                ]
            }
        %}
        {# fmt:on #}
    {% else %}
        {% set contact_details = "" %}
    {% endif %}

    {% if page.last_revised_date %}
        {# fmt:off #}
        {% set last_revised =
            {
                "term": _("Last revised:"),
                "descriptions": [
                    {
                        "description": page.last_revised_date|date("DATE_FORMAT")
                    }
                ]
            }
        %}
        {# fmt:on #}
    {% else %}
        {% set last_revised = "" %}
    {% endif %}

    {# fmt:off #}
    {{
        onsHero({
            "topic": _("Methodology"),
            "title": page.title,
            "variants": 'grey',
            "text": page.summary|richtext(),
            "wide": true,
            "detailsColumns": 12,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [
                    {
                        "term": _("Published:"),
                        "descriptions": [
                            {
                                "description": page.publication_date|date("DATE_FORMAT")
                            }
                        ]
                    },
                    last_revised,
                    contact_details,
                ]
            },
            "breadcrumbs": {
                "ariaLabel": _("Breadcrumbs"),
                "itemsList": breadcrumbs(page),
            }
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--32 ons-js-toc-container">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
            {% with toc_title=_("Contents"), toc_aria_label=_("Sections in this page") %}

                {% if related_publications %}
                    {% set related_publications_title = _("Related publications") %}
                    {% set related_publications_list = related_publications %}
                {% endif %}

                {# fmt:off #}
                {{-
                    onsTableOfContents({
                        "title": toc_title,
                        "ariaLabel": toc_aria_label,
                        "lists": [
                            {
                                "itemsList": table_of_contents
                            }
                        ],
                        "relatedLinks": {
                            "title": related_publications,
                            "itemsList": related_publications_list
                        },
                        "button": {
                            "text": _("Save or print this page"),
                            "variants": 'print'
                        }
                    })
                -}}
                {# fmt:on #}
            {% endwith %}
        </div>

        <div class="ons-grid__col ons-col-8@m">
            {# if there are no contact details on the page, we don't want the last
            streamfield block to have a bottom margin. last_flush is used in stream_block.html #}
            {% if page.contact_details %}
                {% set last_flush = False %}
            {% else %}
                {% set last_flush = True %}
            {% endif %}

            {% include_block page.content %}

            {% if page.show_cite_this_page %}
                <section id="cite-this-page" class="spacing">
                    <h2 class="ons-u-fs-l">{{ _("Cite this methodology") }}</h2>
                    <p>
                        {%- set cite_link -%}
                            <a href="{{ fullpageurl(page) }}">{{ page.title }}</a>
                        {% endset %}
                        {% set latest_date = page.last_revised_date if page.last_revised_date else page.publication_date %}
                        {% trans trimmed latest_date_formatted = latest_date|date("DATE_FORMAT"), cite_link=cite_link %}
                            Office for National Statistics (ONS), last revised {{ latest_date_formatted }}, ONS website, methodology, {{ cite_link }}
                        {% endtrans %}
                    </p>
                </section>
            {% endif %}

            {% if page.contact_details %}
                {% with contact_details = page.contact_details%}
                    {% include "templates/components/contact_details/contact_details.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
