{% extends "templates/base_page.html" %}

{% from "components/document-list/_macro.njk" import onsDocumentList %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/pagination/_macro.njk" import onsPagination %}

{% block header_area %}
    {%- set hero_topic = _("Previous Releases") -%}
    {%- set hero_title = _("Previous Releases") -%} {# TODO: Needs to be updated to use related Statistical Article title #}
    {%- set breadcrumbs_aria_label = _("Breadcrumbs") -%}

    {# fmt:off #}
    {{
        onsHero({
            "topic": hero_topic,
            "title": hero_title,
            "variants": 'grey',
            "text": page.summary,
            "wide": true,
            "detailsColumns": 12,
            "breadcrumbs": {
                "ariaLabel": breadcrumbs_aria_label,
                "itemsList": breadcrumbs(page, include_self=True),
            }
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
            {# TODO: BE to allow us to loop through pages within documentList macro #}
            
            {% for page in pages %}
            {# fmt:off #}
                {{ onsDocumentList({"documents": [
                    {
                        "title": {
                            "text": page.title,
                            "url": pageurl(page)
                        },
                        "metadata": {
                            "object": {
                            "text": 'Dataset'
                        },
                        "date": {
                            "prefix": 'Released',
                            "showPrefix": true,
                            "iso": page.release_date,
                            "short": page.release_date|date("DATE_FORMAT")
                        },
                        }
                    },
                ]
                }) }}
            {# fmt:on #}
            {% else %}
                <p>{{ _("There are currently no releases") }}</p>
            {% endfor %}

            {% block pagination %}
                {% from "components/pagination/_macro.njk" import onsPagination %}
                {% if pages.paginator.num_pages > 1 %}

                {# fmt:off #}
                    {{
                        onsPagination({
                            "currentPageNumber": pages.number,
                            "pages": ons_pagination_url_list
                        })
                    }}
                {% endif %}
                {# fmt:on #}
            {% endblock %}
        </div>
    </div>
{% endblock %}
