{% extends "templates/base_page.html" %}

{% block main %}
    <h1>{{ _("Previous Releases") }}</h1>
    <ul>
        {% for page in pages %}
            <li><a href="{{ pageurl(page) }}">{{ page.title }}</a> - {{ page.release_date }}</li>
        {% else %}
            <p>{{ _("There are currently no releases") }}</p>
        {% endfor %}
    </ul>

    {% block ONS_pagination_v1 %}
        {% from "components/pagination/_macro.njk" import onsPagination %}
        {% if pages.paginator.num_pages > 1 %}
            <div class="ons-pagination__position">Page {{ pages.number }} of {{pages.paginator.num_pages }}</div>

            {{
            onsPagination({
            "hideRangeIndicator": true,
            "currentPageNumber": pages.number ,
            "pages": ons_pagination_url_list
            })
            }}
        {% endif %}
    {% endblock %}


{% endblock %}
