{% extends "templates/base_page.html" %}

{% from "components/document-list/_macro.njk" import onsDocumentList %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/pagination/_macro.njk" import onsPagination %}

{% block header_area %}
    {%- set hero_topic = _("Related data") -%}
    {%- set breadcrumbs_aria_label = _("Breadcrumbs") -%}
    {# fmt:off #}
    {{
        onsHero({
            "topic": hero_topic,
            "title": page.related_data_display_title,
            "variants": 'grey',
            "text": page.summary,
            "officialStatisticsBadge": page.is_accredited,
            "wide": true,
            "detailsColumns": 12,
            "censusLogo": page.is_census,
            "breadcrumbs": {
                "ariaLabel": breadcrumbs_aria_label,
                "itemsList": breadcrumbs(page, include_self=True),
            }
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    {% if paginated_datasets %}

        {{ onsDocumentList({"documents": paginated_datasets}) }}

        {% block pagination %}
            {% if paginated_datasets.paginator.num_pages > 1 %}

                {# fmt:off #}
                {{
                    onsPagination({
                        "currentPageNumber": paginated_datasets.number,
                        "pages": ons_pagination_url_list
                    })
                }}
                {# fmt:on #}
            {% endif %}
        {% endblock %}
    {% else %}
        <h2>{{ _("There is no data related to this article") }}</h2>
    {% endif %}

{% endblock %}
