{% extends "templates/base_page.html" %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}

{% block header_area %}
    {# Currently missing email link as the onsDescriptionList does not allow markup #}
    {% if page.contact_details %}
        {# fmt:off #}
        {% set contact_details =
            {
                "term": "Contact:",
                "descriptions": [
                    {
                        "description": page.contact_details.name
                    }
                ]
            }
        %}
        {# fmt:on #}
    {% else %}
        {% set contact_details = "" %}
    {% endif %}
    {# Currently missing links as the onsDescriptionList does not allow markup #}
    {% if page.is_latest %}
        {% set releases_text = _("View previous releases") %}
    {% else %}
        {% set releases_text = _("View latest release") %}
    {% endif %}
    {% set next_release_date_text = page.next_release_date|date("DATE_FORMAT") or _("To be announced") %}

    {# fmt:off #}
    {{
        onsHero({
            "topic": _("Statistical article"),
            "title": page.display_title,
            "variants": 'grey',
            "text": page.summary,
            "officialStatisticsBadge": page.is_accredited,
            "wide": true,
            "detailsColumns": 12,
            "censusLogo": page.is_census,
            "descriptionList": {

                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [
                    {
                        "term": _("Release date"),
                        "descriptions": [
                            {
                                "description": page.release_date|date("DATE_FORMAT")
                            }
                        ]
                    },
                    {
                        "term": _("Next release"),
                        "descriptions": [
                            {
                                "description": next_release_date_text
                            }
                        ]
                    },
                    {
                        "term": _("Edition"),
                        "descriptions": [
                            {
                                "description": _("Latest")
                            }
                        ]
                    },
                    {
                        "term": _("Releases"),
                        "descriptions": [
                            {
                                "description": releases_text
                            }
                        ]
                    },
                    contact_details,
                ]
            },
        "breadcrumbs":
            {
            "ariaLabel": _("Breadcrumbs"),
            "itemsList": breadcrumbs(page),
            }
        })
    }}
    {# fmt:on #}

    {% if page.updates %}
        {% include_block page.updates %}
    {% endif %}

    {% if page.headline_figures %}
        {% include_block page.headline_figures %}
    {% endif %}

{% endblock %}

{% block main %}
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--32 ons-js-toc-container">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
            {% with toc_title=_("Contents"), toc_aria_label=_("Sections in this page") %}
                {# fmt:off #}
                {{-
                    onsTableOfContents({
                        "title": toc_title,
                        "ariaLabel": toc_aria_label,
                        "itemsList": table_of_contents
                    })
                }}
                {# fmt:on #}
            {% endwith %}
        </div>

        <div class="ons-grid__col ons-col-8@m">
            {% include_block page.content %}

            {% if page.show_cite_this_page %}
                <section id="cite-this-page" class="spacing">
                    <h2 class="ons-u-fs-l">{{ _("Cite this analysis") }}</h2>
                    <p>
                        {%- set cite_link -%}
                            <a href="{{ fullpageurl(page) }}">{{ page.display_title }}</a>
                        {% endset %}
                        {% trans trimmed release_date=page.release_date|date("DATE_FORMAT"), cite_link=cite_link %}
                            Office for National Statistics (ONS), released {{ release_date }}, ONS website, statistical article, {{ cite_link }}
                        {% endtrans %}
                    </p>
                </section>
            {% endif %}

            {% if page.contact_details %}
                {% with contact_details = page.contact_details%}
                    {% include "templates/components/contact_details/contact_details.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
