{% extends "templates/base_page.html" %}

{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}
{% from "components/details-panel/_macro.njk" import onsDetailsPanel %}

{#- We set variables for text so that it gets picked up by makemessages -#}
{%- set contact_label = _("Contact:") -%}
{%- set statistical_article_label = _("Statistical article") -%}
{%- set release_date_label = _("Release date:") -%}
{%- set next_release_label = _("Next release:") -%}
{%- set contact_label = _("Contact:") -%}
{%- set save_or_print_label = _("Save or print this page") -%}

{% block header_area %}
    {%- set hero_topic = _("Statistical article") -%}
    {%- set release_date_term = _("Release date:") -%}
    {%- set next_release_date_term = _("Next release:") -%}

    {% if page.is_latest %}
        {% if latest_version_url %}
            {%- set infoPanelText = _("This version has been amended since publication") -%}
            {%- set releases_text = _("View amended version") -%}
            {%- set infoPanelType = 'ons-red' -%}
            {%- set releases_url = latest_version_url -%}
        {% else %}
            {%- set infoPanelText = _("Latest release") -%}
            {%- set releases_text = _("View previous releases") -%}
            {%- set infoPanelType = 'ons-green' -%}
            {%- set releases_url = routablepageurl(page.get_parent().specific, "previous_releases") -%}
        {% endif %}
    {% else %}
        {%- set infoPanelText = _("Not the latest release") -%}
        {%- set releases_text = _("View latest release") -%}
        {%- set infoPanelType = 'ons-orange' -%}
        {%- set releases_url = routablepageurl(page.get_parent().specific, "latest_article") -%}
    {% endif %}

    {# fmt:off #}
    {% if page.release_date %}
        {% set release_item = {
                "term": release_date_label,
                "descriptions": [
                    {
                        "description": page.release_date|date("DATE_FORMAT")
                    }
                ]
            }
        %}
    {% else %}
        {% set release_item = None %}
    {% endif %}
    {# fmt:on #}

    {# fmt:off #}
    {% if page.next_release_date %}
        {% set next_release_date = page.next_release_date|date("DATE_FORMAT") %}
        {% set next_release_item = {
                "term": next_release_label,
                "descriptions": [
                    {
                        "description": next_release_date
                    }
                ]
            }
        %}
    {% else %}
        {% set next_release_date_text = _("To be announced") %}
        {% set next_release_item = {
                "term": next_release_label,
                "descriptions": [
                    {
                        "description": next_release_date_text
                    }
                ]
            }
        %}
    {% endif %}
    {# fmt:on #}

    {% set contact_description_html -%}
        <a href="mailto:{{ page.contact_details.email }}">{{ page.contact_details.name }}</a>
    {%- endset %}

    {# fmt:off #}
    {% if page.contact_details %}
        {% set contact_item = {
                "term": contact_label,
                "descriptions": [
                    {
                        "description": contact_description_html
                    }
                ]
            }
        %}
    {% else %}
        {% set contact_item = None %}
    {% endif %}
    {# fmt:on #}

    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "topic": statistical_article_label,
            "title": page.display_title,
            "variants": 'grey',
            "text": page.summary,
            "officialStatisticsBadge": page.is_accredited,
            "officialStatisticsBadgeUrl": "https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/",
            "informationPanel":{
                "panelText": infoPanelText,
                "panelType": infoPanelType,
                "panelLink": {
                    "text": releases_text,
                    "url": releases_url
                }
            },
            "detailsColumns": 12,
            "censusLogo": page.is_census,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [release_item, next_release_item, contact_item] | selectattr('term') | list,
            },
        })
    }}
    {# fmt:on #}
    {% if has_corrections or has_notices %}
        {% set openText = _("Show detail") %}
        {% set closeText = _("Hide detail") %}
        {% if has_corrections and has_notices %}
            {% set corrections_and_notices_title = _("Corrections and notices") %}
        {% elif has_notices %}
            {% set corrections_and_notices_title = _("Notices") %}
        {% else %}
            {% set corrections_and_notices_title = _("Corrections") %}
        {% endif %}

        {# fmt:off #}
        {{
            onsDetailsPanel({
                "title": corrections_and_notices_title,
                "openText": openText,
                "closeText": closeText,
                "detailsItems": corrections_and_notices
            })
        }}
        {# fmt:on #}

    {% endif %}

    {% if page.headline_figures %}
        <div class="ons-container ons-u-pt-l ons-u-pb-2xl">
            <h2 class="ons-u-fs-m">{{ _("Headline facts and figures") }}</h2>
            <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--l ons-u-pb-2xl" id="headline-figures">
                {% for figure in page.headline_figures %}
                    <div class="ons-grid__col ons-grid__col--loose ons-grid__col--flex-col ons-grid__col--stretch ons-u-flex-grow{% if page.headline_figures|length > 2 %} ons-col-4@m{% endif %}">
                        {% include_block figure %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block main %}
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--xl ons-js-table-of-contents-container">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
            {% if page.datasets %}
                {% if request.is_preview and page.pk %}
                    {% set related_data_url = url('wagtailadmin_pages:preview_on_edit', page.pk) ~ "?mode=related_data" %}
                {% elif request.path == routablepageurl(page.get_parent().specific, "latest_article") %}
                    {% set related_data_url = routablepageurl(page.get_parent().specific, "latest_article_related_data") %}
                {% else %}
                    {% set related_data_url = routablepageurl(page, "related_data") %}
                {% endif %}

                {% set related_links_title=_("Explore Data") %}
                    {% set related_data_text=_("View data used in this article") %}

                {# fmt:off #}
                    {%- set related_links =
                        {
                            "title": related_links_title,
                            "itemsList": [
                                {
                                    "url": related_data_url,
                                    "text": related_data_text
                                }
                            ]
                        }
                    -%}
                {# fmt:on #}
                    {% else %}
                        {% set related_links = None %}
                    {% endif %}

                    {% with toc_title=_("Contents"), toc_aria_label=_("Sections in this page") %}
                        {# fmt:off #}
                        {{-
                            onsTableOfContents({
                                "title": toc_title,
                                "ariaLabel": toc_aria_label,
                                "itemsList": page.table_of_contents,
                                "relatedLinks": related_links,
                                "button": {
                                    "text": save_or_print_label
                                }
                            })
                        }}
                        {# fmt:on #}
                    {% endwith %}
                    </div>

                    <div class="ons-grid__col ons-col-8@m">
                        {% include_block page.content %}

                        {% if page.show_cite_this_page %}
                            <section id="cite-this-page" class="spacing">
                                <h2 class="ons-u-fs-l">{{ _("Cite this analysis") }}</h2>
                                <p>
                                    {%- set cite_link -%}
                                        <a href="{{ fullpageurl(page) }}">{{ page.display_title }}</a>
                                    {% endset %}
                                    {% trans trimmed release_date=page.release_date|date("DATE_FORMAT"), cite_link=cite_link %}
                                        Office for National Statistics (ONS), released {{ release_date }}, ONS website, statistical article, {{ cite_link }}
                                    {% endtrans %}
                                </p>
                            </section>
                        {% endif %}

                        {% if page.contact_details %}
                            {% with contact_details = page.contact_details%}
                                {% include "templates/components/contact_details/contact_details.html" %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    </div>
                {% endblock %}
