{% extends "templates/base_page.html" %}

{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}

{% block header_area %}
    {% if page.contact_details %}
        {% set contact_description_html -%}
            <a href="mailto:{{ page.contact_details.email }}">{{ page.contact_details.name }}</a>
        {%- endset %}

        {# fmt:off #}
        {% set contact_details =
            {
                "term": "Contact:",
                "descriptions": [
                    {
                        "description": contact_description_html
                    }
                ]
            }
        %}
        {# fmt:on #}
    {% else %}
        {% set contact_details = "" %}
    {% endif %}

    {% if page.is_latest %}
        {% set release_html -%}
            <a href="{{ routablepageurl(page.get_parent().specific, "previous_releases") }}">{{ _("View previous releases") }}</a>
        {%- endset %}
    {% else %}
        {% set release_html -%}
            <a href="{{ routablepageurl(page.get_parent().specific, "latest_release") }}">{{ _("View latest release") }}</a>
        {%- endset %}
    {% endif %}

    {% set next_release_date_text = page.next_release_date|date("DATE_FORMAT") or _("To be announced") %}

    {# fmt:off #}
    {{
        onsHero({
            "topic": _("Statistical article"),
            "title": page.display_title,
            "variants": 'grey',
            "text": page.summary,
            "officialStatisticsBadge": page.is_accredited,
            "wide": true,
            "detailsColumns": 12,
            "censusLogo": page.is_census,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [
                    {
                        "term": _("Release date:"),
                        "descriptions": [
                            {
                                "description": page.release_date|date("DATE_FORMAT")
                            }
                        ]
                    },
                    {
                        "term": _("Next release:"),
                        "descriptions": [
                            {
                                "description": next_release_date_text
                            }
                        ]
                    },
                    {
                        "term": _("Edition:"),
                        "descriptions": [
                            {
                                "description": _("Latest")
                            }
                        ]
                    },
                    {
                        "term": _("Releases:"),
                        "descriptions": [
                            {
                                "description": release_html
                            }
                        ]
                    },
                    contact_details,
                ]
            },
            "breadcrumbs": {
                "ariaLabel": _("Breadcrumbs"),
                "itemsList": breadcrumbs(page),
            }
        })
    }}
    {# fmt:on #}

    {% if latest_version_url %}
        <div class="ons-container">
            {% call onsPanel({"variant": 'warn', "classes": "ons-u-mt-s"}) %}
                <p>{{ _("This has been superseded.") }} <a href="{{ latest_version_url }}">{{ _("View corrected version") }}</a></p>
            {% endcall %}
        </div>
    {% endif %}

    {% if page.corrections or page.notices %}
        {% if page.corrections and page.notices %}
            {% set corrections_and_notices_title = _("Corrections and notices") %}
        {% elif page.notices %}
            {% set corrections_and_notices_title = _("Notices") %}
        {% else %}
            {% set corrections_and_notices_title = _("Corrections") %}
        {% endif %}
        <div class="ons-container">
            {% call onsDetails({"id": "corrections-and-notices", "title": corrections_and_notices_title}) %}
                {% if page.corrections %}
                    <h3>{{ _("Corrections") }}</h3>
                    {% for correction in page.corrections %}
                        {% include_block correction %}
                    {% endfor %}
                {% endif %}
                {% if page.notices %}
                    <h3>{{ _("Notices") }}</h3>
                    {{ page.notices }}
                {% endif %}
            {% endcall %}
        </div>
    {% endif %}

    {% if page.headline_figures %}
        {% include_block page.headline_figures %}
    {% endif %}

{% endblock %}

{% block main %}
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--32 ons-js-toc-container">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m">
            {% with toc_title=_("Contents"), toc_aria_label=_("Sections in this page") %}
                {# fmt:off #}
                {{-
                    onsTableOfContents({
                        "title": toc_title,
                        "ariaLabel": toc_aria_label,
                        "itemsList": table_of_contents
                    })
                }}
                {# fmt:on #}
            {% endwith %}
        </div>

        <div class="ons-grid__col ons-col-8@m">
            {% include_block page.content %}

            {% if page.show_cite_this_page %}
                <section id="cite-this-page" class="spacing">
                    <h2 class="ons-u-fs-l">{{ _("Cite this analysis") }}</h2>
                    <p>
                        {%- set cite_link -%}
                            <a href="{{ fullpageurl(page) }}">{{ page.display_title }}</a>
                        {% endset %}
                        {% trans trimmed release_date=page.release_date|date("DATE_FORMAT"), cite_link=cite_link %}
                            Office for National Statistics (ONS), released {{ release_date }}, ONS website, statistical article, {{ cite_link }}
                        {% endtrans %}
                    </p>
                </section>
            {% endif %}

            {% if page.contact_details %}
                {% with contact_details = page.contact_details%}
                    {% include "templates/components/contact_details/contact_details.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
