{% extends "templates/base_page.html" %}

{% from "components/document-list/_macro.njk" import onsDocumentList %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/pagination/_macro.njk" import onsPagination %}

{% block header_area %}
    {%- set hero_topic = _("Related data") -%}
    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "topic": hero_topic,
            "title": page.related_data_display_title,
            "variants": 'grey',
            "text": page.summary,
            "detailsColumns": 12
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    <div class="ons-grid ons-js-table-of-contents-container">
        <div class="ons-grid__col ons-col-8@m">
            {{ onsDocumentList({"documents": paginated_datasets}) }}

            {% block pagination %}
                {% if paginated_datasets.paginator.num_pages > 1 %}

                    {# fmt:off #}
                    {{
                        onsPagination({
                            "currentPageNumber": paginated_datasets.number,
                            "pages": ons_pagination_url_list
                        })
                    }}
                    {# fmt:on #}
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
