{% extends "templates/base_page.html" %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/document-list/_macro.njk" import onsDocumentList %}

{% block header_area %}
    {%- set hero_topic = _("Browse") -%}
    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'pale-blue'
        })
    }}
    {{
        onsHero({
            "topic": hero_topic,
            "title": page.title,
            "variants": 'pale-blue',
            "wide": true,
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    {% if formatted_items %}
        {{ onsDocumentList({"documents": formatted_items}) }}
    {% endif %}
{% endblock %}
