{% extends "templates/base_page.html" %}

{% from "components/hero/_macro.njk" import onsHero %}

{% block header_area %}
    {# fmt:off #}
        {{
            onsHero({
                "topic": _("Theme"),
                "title": page.title,
                "variants": 'pale-blue',
                "text": page.summary|richtext(),
                "wide": true,
                "breadcrumbs": {
                    "ariaLabel": _("Breadcrumbs"),
                    "itemsList": breadcrumbs(page),
                }
            })
        }}
    {# fmt:on #}
{% endblock %}
