{% extends "templates/base_page.html" %}

{% block header_area %}
    <div class="theme-header">
        <div class="ons-container">
            {% include "templates/components/navigation/breadcrumbs.html" %}
            <p class="theme-header__doc-type ons-u-fs-l">{{ _("Theme") }}</p>

            <div class="ons-grid">
                <div class="ons-grid__col ons-col-8@m">
                    <h1 class="ons-u-fs-3xl theme-header__heading">
                        {{ page.title }}
                    </h1>
                    <p class="theme-header__summary">{{ page.summary|richtext() }}</p>
                </div>
            </div>
        </div>
    </div>

    {{ super() }}
{% endblock %}
