{% extends "templates/base_page.html" %}

{% block header_area %}
    <div class="topic-header">
        <div class="topic-header__circles" aria-hidden="true">
            <div class="topic-header__circle-one"></div>
            <div class="topic-header__circle-two"></div>
            <div class="topic-header__circle-three"></div>
        </div>
        <div class="ons-container">
            {% include "templates/components/navigation/breadcrumbs.html" %}
            <p class="topic-header__doc-type">Topic</p>

            <div class="ons-grid">
                <div class="ons-grid__col ons-col-8@m ">
                    <h1 class="ons-u-fs-3xl topic-header__heading">
                        {{ page.title }}
                    </h1>
                    <div class="topic-header__summary">{{ page.summary|richtext }}</div>
                </div>
            </div>
        </div>
    </div>

    {% if page.headline_figures %}
        {% include_block page.headline_figures %}
    {% endif %}

    {{ super() }}

{% endblock %}
