{% extends "templates/pages/release_calendar/release_calendar_page.html" %}

{% block release_meta %}
    <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m ons-col-12@s ons-u-p-no">
        <span class="ons-u-fs-r--b">{{ _("Release date") }}:</span>
        <span class="ons-u-nowrap">{{ page.release_date|date("DATETIME_FORMAT") }}</span>
    </div>
{% endblock %}

{% block release_note %}
    <div class="ons-u-pt-s ons-u-pb-m@m ons-u-pb-s@xxs@m">
        {% from "components/panel/_macro.njk" import onsPanel %}
        {% call onsPanel() %}
            <p>{{ _("This release is not yet published") }}</p>
        {% endcall %}
    </div>
{% endblock %}

{% block release_content %}
    {% if page.changes_to_release_date %}
        <section id="changes-to-release-date">
            <h2>{{ _("Changes to this release date") }}</h2>

            <ol class="ons-list ons-list--bare">
                {% include_block page.changes_to_release_date %}
            </ol>
        </section>
    {% endif %}
{% endblock %}
{% block release_content_footer %}{% endblock %}  {# we want to show this only for published content #}
