{% extends "templates/pages/release_calendar/release_calendar_page.html" %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block header_area %}
    {%- set hero_topic = _("Release") -%}
    {%- set release_date_label = _("Release date:") -%}

    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "topic": hero_topic,
            "title": page.title,
            "variants": 'grey',
            "officialStatisticsBadge": page.is_accredited,
            "officialStatisticsBadgeUrl": official_statistics_badge_url,
            "detailsColumns": 12,
            "censusLogo": page.is_census,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": [{
                    "term": release_date_label,
                    "descriptions": [{"description":  page.release_date_value}]
                }]
            }
        })
    }}
    {# fmt:on #}

    {% block release_note %}
        <div class="ons-container ons-u-mt-m">
            {% call onsPanel() %}
                <p>{{ _("This release is not yet published") }}</p>
            {% endcall %}
        </div>
    {% endblock %}
{% endblock %}

{% block release_content %}
    {% if page.changes_to_release_date %}
        <section id="changes-to-release-date">
            <h2>{{ _("Changes to this release date") }}</h2>

            <ol class="ons-list ons-list--bare">
                {% include_block page.changes_to_release_date %}
            </ol>
        </section>
    {% endif %}
{% endblock %}
{% block release_content_footer %}{% endblock %}  {# we want to show this only for published content #}
