{% extends "templates/pages/release_calendar/release_calendar_page.html" %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}

{% block release_meta %}
    {% if page.release_date or page.release_text %}
        <div class="ons-container common-header__releases common-header__releases--single-row">
            <div>
                <span class="ons-u-fs-r--b">{{ _("Release date") }}:</span>
                <span class="ons-u-nowrap">{{ _("Cancelled") }}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block release_note %}
    <div class="ons-container">
        {{ onsPanel({"body": page.notice }) }}
    </div>
{% endblock %}

{% block release_content %}
    {% if page.changes_to_release_date %}
        <section id="changes-to-release-date">
            <h2>{{ _("Changes to this release date") }}</h2>

            <ol class="ons-list ons-list--bare">
                {% include_block page.changes_to_release_date %}
            </ol>
        </section>
    {% endif %}
{% endblock %}
{% block release_content_footer %}{% endblock %}  {# we want to show this only for published content #}
