{% extends "templates/pages/release_calendar/release_calendar_page.html" %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block header_area %}
    {%- set hero_topic = _("Release") -%}
    {%- set breadcrumbs_label = _("Breadcrumbs") -%}

    {# fmt:off #}
    {% set release_date_details = [
        {
        "type": "release_date",
        "label": _("Release date:"),
        "value": page.release_date,
        "text": page.release_date_text
        },
        {
        "type": "next_release_date",
        "label": _("Next release date:"),
        "value": page.next_release_date,
        "text": page.next_release_date_text
        }
    ] %}
    {# fmt:on #}

    {% set release_dates_list = [] %}

    {% for date in release_date_details %}
        {% if date.value or date.text %}
            {# fmt:off #}
            {%- set date_dict = {
                "term": date.label,
                "descriptions": [
                    {
                        "description": date.text or date.value|ons_date("DATETIME_FORMAT")
                    }
                ]
            } -%}
            {# fmt:on #}
            {% do release_dates_list.append(date_dict) %}
        {% endif %}
    {% endfor %}


    {# fmt:off #}
    {{
        onsHero({
            "topic": hero_topic,
            "title": page.title,
            "variants": 'grey',
            "officialStatisticsBadge": page.is_accredited,
            "wide": true,
            "detailsColumns": 12,
            "censusLogo": page.is_census,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": release_dates_list
            },
            "breadcrumbs": {
                "ariaLabel": breadcrumbs_label,
                "itemsList": breadcrumbs(page),
            }
        })
    }}
    {# fmt:on #}

    {% block release_note %}
        <div class="ons-container ons-u-mt-m">
            {% call onsPanel() %}
                <p>{{ _("This release is not yet published") }}</p>
            {% endcall %}
        </div>
    {% endblock %}
{% endblock %}

{% block release_content %}{% endblock %} {# we want to show this only for published content #}
{% block release_content_footer %}{% endblock %}  {# we want to show this only for published content #}
