{% extends "templates/base_page.html" %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}
{% from "components/document-list/_macro.njk" import onsDocumentList %}

{%- set official_statistics_badge_url = "https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/" -%}

{% block header_area %}
    {%- set hero_topic = _("Release") -%}
    {%- set release_date_label = _("Release date:") -%}
    {%- set next_release_date_label = _("Next release date:") -%}

    {# fmt:off #}
    {%- set release_date_details = [
        {
            "label": release_date_label,
            "value": page.release_date_value
        },
        {
            "label": next_release_date_label,
            "value": page.next_release_date_value
        }
    ] -%}
    {# fmt:on #}

    {%- set release_dates_list = [] -%}

    {%- for release_date_item in release_date_details -%}
        {% if release_date_item.value %}
            {# fmt:off #}
            {%- do release_dates_list.append({
                "term": release_date_item.label,
                "descriptions": [{"description": release_date_item.value}]
            }) -%}
            {# fmt:on #}
        {% endif %}
    {%- endfor -%}

    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "topic": hero_topic,
            "title": page.title,
            "variants": 'grey',
            "officialStatisticsBadge": page.is_accredited,
            "officialStatisticsBadgeUrl": official_statistics_badge_url,
            "detailsColumns": 12,
            "censusLogo": page.is_census,
            "descriptionList": {
                "descriptionListLabel": "",
                "termCol": "6",
                "descriptionCol": "6",
                "itemsList": release_dates_list
            }
        })
    }}
    {# fmt:on #}
    {% block release_note %}{% endblock %}
{% endblock %}

{% block main %}
    <div class="ons-grid ons-js-table-of-contents-container ons-u-ml-no">
        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m ons-u-p-no">
        {# fmt:off #}
        {{-
            onsTableOfContents({
                "title": 'Contents',
                "ariaLabel": 'Sections in this page',
                "itemsList": table_of_contents
            })
        }}
        {# fmt:on #}
        </div>
        <div class="ons-grid__col ons-col-8@m ons-col-12@s ons-u-p-no@2xs@m">
            <section id="summary" class="spacing">
                <h2>{{ _("Summary") }}</h2>
                {{ page.summary|richtext() }}
            </section>

            {% block release_content %}
                {% include_block page.content %}

                {% if page.dataset_document_list %}
                    <section id="data" class="spacing">
                        <h2>{{ _("Data") }}</h2>
                    {# fmt:off #}
                        {{ onsDocumentList({
                                "headingLevel": 3,
                                "documents": page.dataset_document_list
                            })
                        }}
                    {# fmt:on #}
                    </section>
                {% endif %}

                {% with contact_details = page.contact_details%}
                    {% include "templates/components/contact_details/contact_details.html" %}
                {% endwith %}

                {% if page.changes_to_release_date %}
                    <section id="changes-to-release-date" class="spacing">
                        <h2>{{ _("Changes to this release date") }}</h2>

                        <ol class="ons-list ons-list--bare">
                            {% include_block page.changes_to_release_date %}
                        </ol>
                    </section>
                {% endif %}
            {% endblock release_content %}

            {% if page.is_accredited or page.is_census %}
                <section id="about-the-data" class="spacing">
                    <h2>{{ _("About the data") }}</h2>
                    <div class="accreditations">
                        {% if page.is_census %}
                            {% include "templates/components/census/census-information.html" %}
                        {% endif %}
                        {% if page.is_accredited %}
                            {% include "templates/components/accredited/accredited-information.html" %}
                        {% endif %}
                    </div>
                    {% if page.is_accredited %}
                        <p>
                            {% trans trimmed %}
                                These are accredited official statistics. They have been independently reviewed by the Office for Statistics Regulation (OSR) and found to comply with the standards of trustworthiness, quality and value in the <a href="https://code.statisticsauthority.gov.uk/the-code/">Code of Practice for Statistics</a>. This broadly means that the statistics:
                            {% endtrans %}
                        </p>
                        <ul class="ons-list">
                            <li class="ons-list__item">{{ _("meet user needs") }}</li>
                            <li class="ons-list__item">{{ _("are presented clearly and accessibly") }}</li>
                            <li class="ons-list__item">{{ _("are produced using appropriate data and sound methods") }}</li>
                            <li class="ons-list__item">{{ _("are managed impartially and objectively in the public interest") }}</li>
                        </ul>
                    {% endif %}
                </section>
            {% endif %}

            {% block release_content_footer %}
                {% if page.pre_release_access %}
                    <section id="pre-release-access-list" class="spacing">
                        <h2>{{ _("Pre-release access list") }}</h2>
                        {% include_block page.pre_release_access %}
                    </section>
                {% endif %}

                {% if page.related_links %}
                    <section id="links" class="spacing">
                        <h2>{{ _("You might also be interested in") }}</h2>

                        {% include_block page.related_links %}
                    </section>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
