{% extends "templates/pages/release_calendar/release_calendar_page.html" %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block release_meta %}
    <div class="ons-container common-header__releases common-header__releases--single-row">
        <div>
            <span class="ons-u-fs-r--b common-header__releases-label">{{ _("Release date") }}:</span>
            <span class="ons-u-nowrap">{{ page.release_date|custom_date("DATETIME_FORMAT") }}</span>
        </div>
    </div>
{% endblock %}

{% block release_note %}
    <div class="ons-container">
        {% call onsPanel() %}
            <p>{{ _("This release is not yet published") }}</p>
        {% endcall %}
    </div>
{% endblock %}

{% block release_content %}
    {% if page.changes_to_release_date %}
        <section id="changes-to-release-date">
            <h2>{{ _("Changes to this release date") }}</h2>

            <ol class="ons-list ons-list--bare">
                {% include_block page.changes_to_release_date %}
            </ol>
        </section>
    {% endif %}
{% endblock %}
{% block release_content_footer %}{% endblock %}  {# we want to show this only for published content #}
