{% extends "templates/pages/release_calendar/release_calendar_page.html" %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% block release_meta %}
    {% if page.release_date or page.release_date_text %}
        <div class="ons-container common-header__releases common-header__releases--single-row">
            <div>
                <span class="ons-u-fs-r--b common-header__releases-label">{{ _("Provisional release date") }}:</span>
                <span class="ons-u-nowrap">{{ page.release_date_text or page.release_date|ons_date("DATETIME_FORMAT") }}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block release_note %}
    <div class="ons-container">
        {% call onsPanel() %}
            <p>{{ _("This release is not yet published") }}</p>
        {% endcall %}
    </div>
{% endblock %}

{% block release_content %}{% endblock %} {# we want to show this only for published content #}
{% block release_content_footer %}{% endblock %}  {# we want to show this only for published content #}
