{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags %}
{% block titletag %}Add {{ page_to_move.specific_deferred.get_admin_display_title }} to a bundle{% endblock %}
{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Add to bundle" subtitle=page_to_move.specific_deferred.get_admin_display_title icon="boxes-stacked" %}

    <div class="nice-padding">
        <form action="{% url 'bundles:add_to_bundle' page_to_add.id %}" method="post" novalidate>
            {% csrf_token %}
            {% if next %}<input type="hidden" value="{{ next }}" name="next">{% endif %}

            <ul class="fields">
                <li>{% formattedfield form.bundle %}</li>
            </ul>

            <button type="submit" class="button">Confirm</button>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
