@use 'config' as *;

/*
Styles for the analysis page header
*/

.article-header {
    // this colour is in figma but not in the design system
    background-color: $color--pale-grey;
    position: relative;
    padding-bottom: rem-sizing(64);
    margin-bottom: rem-sizing(24);

    @include media-query('m') {
        margin-bottom: rem-sizing(40);
    }

    &--flush {
        margin-bottom: 0;
    }

    &::before {
        position: absolute;
        inset: 0;
        width: 150%;
        height: 100%;
        left: -40%;
        border-radius: 0 0 50% 50%;
        background-color: var(--ons-color-grey-5);
        content: '';

        @include media-query('l') {
            border-radius: 0 0 80% 50%;
            left: -25%;
            width: 130%;
        }
    }

    &__doc-type {
        font-weight: 700;
        color: var(--ons-color-ocean-blue);
        margin-bottom: 0;
    }

    &__heading {
        margin-bottom: rem-sizing(16);
    }

    &__summary {
        margin-bottom: rem-sizing(16);
    }
}
