@use 'config' as *;

.headline-figures {
    //padding-top: rem-sizing(24);
    padding-bottom: rem-sizing(40);

    &__grid {
        row-gap: rem-sizing(24);
    }

    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        column-gap: rem-sizing(40);
        background-color: var(--ons-color-grey-5);
        padding: rem-sizing(24);

        @include media-query('s') {
            display: flex;
            flex-direction: column;
        }

        @media (forced-colors: active) {
            border: 1px solid var(--ons-color-grey-5);
        }
    }

    &__heading {
        margin-bottom: rem-sizing(16);
    }

    &__figure {
        font-weight: 700;
        margin-bottom: 0;

        @include media-query('s') {
            margin-bottom: rem-sizing(8);
        }

        @include media-query('l') {
            margin-top: auto;
        }
    }

    &__supporting-text {
        margin-bottom: 0;
        grid-column: 1 / span 2;
    }
}
