.ons-padding-start {
    padding-inline-start: 1.5rem;
}

.ons-padding-end {
    padding-inline-end: 1.5rem;
}

/* Hides the disabled "add <type>" button for read-only InlinePanel/MultipleChooserPanels */
.editor-view.content-locked button[id$='-OPEN_MODAL'] {
    display: none;
}

/* Tidies up the lock message icon alignment for multi-line messages */
.messages .lock {
    padding-inline-start: 4em;
}

.messages .lock .icon-lock {
    margin-inline-start: -2.4em;
}
