{% extends "bundles/notification_emails/html_variant/base_email.html" %}

{% block title %}Bundle "{{bundle_name}}" has been published{% endblock %}

{% block content %}
    <p>
        Hello,
        <br>
        <br>
        Your release {{bundle_name}} has now been published to the ONS website.
        <br>
        <br>
        Please review your release on the ONS website and contact the Publishing team if you require any further support.
        <br>
        <br>
        Do not reply to this message as this mailbox isn't monitored.
        <br>
        <br>
        Kind regards,<br>
        Publishing team <br>
        Publishing@ons.gov.uk <br>
    </p>
{% endblock %}
