# vim: set filetype=yaml:

# https://docs.kics.io/latest/
exclude-queries:
  - "555ab8f9-2001-455e-a077-f2d0f41e2fb9"  # Allow not pinning to commit SHA in GitHub CI
  - "a88baa34-e2ad-44ea-ad6f-8cac87bc7c71"  # Passwords And Secrets - Generic Password, Severity High
  - "610e266e-6c12-4bca-9925-1ed0cd29742b"
  - "b84a0b47-2e99-4c9f-8933-98bcabe2b94d"

