# vim: set filetype=yaml:

# https://docs.kics.io/latest/
exclude-queries:
  - "451d79dc-0588-476a-ad03-3c7f0320abb3"  # Container Traffic Not Bound To Host Interface Severity: Medium
  - "555ab8f9-2001-455e-a077-f2d0f41e2fb9"  # Allow not pinning to commit SHA in GitHub CI
  - "610e266e-6c12-4bca-9925-1ed0cd29742b"  # Security Opt Not Set
  # Docker Compose Healthcheck Not Set Check containers periodically to see if they are running properly.
  # Run as local not relevant
  - "698ed579-b239-4f8f-a388-baa4bcb13ef8"
  - "8c978947-0ff6-485c-b0c2-0bfca6026466"  # DockerCompose Shared Volumes Between Containers
  - "a88baa34-e2ad-44ea-ad6f-8cac87bc7c71"  # Passwords And Secrets - Generic Password, Severity High
  - "aa93e17f-b6db-4162-9334-c70334e7ac28"  # Chown Flag Exists Dockerfile
  - "b03a748a-542d-44f4-bb86-9199ab4fd2d5"
  - "b84a0b47-2e99-4c9f-8933-98bcabe2b94d"
  - "ce76b7d0-9e77-464d-b86f-c5c48e03e22d"
  - "f2f903fb-b977-461e-98d7-b3e2185c6118"

