# vim: set filetype=yaml:

# https://docs.kics.io/latest/
exclude-queries:
  - "555ab8f9-2001-455e-a077-f2d0f41e2fb9"  # Allow not pinning to commit SHA in GitHub CI
  - "a88baa34-e2ad-44ea-ad6f-8cac87bc7c71" 
  # Passwords And Secrets - Generic Password, Severity Hight finding for Passwords And Secrets in variable name