{% extends "templates/pages/errors/base_error.html" %}
{% set page_title = _("Page not found") %}

{% block head %}
    {{ block.super() }}
    <script>
        dataLayer.push({
            "contentType": "404-pages",
            "contentGroup": "404-pages",
        });
    </script>
{% endblock %}

{% block error_content %}
    <p>{{ _("If you entered a web address, check it is correct.") }}</p>
    <p>{{ _("If you pasted the web address, check you copied the whole address.") }}</p>
    <p>{% trans contact_url=CONTACT_US_URL %}If the web address is correct, or you selected a link or button, <a href="{{ contact_url }}">contact us</a>.{% endtrans %}</p>
{% endblock %}
