{% extends "templates/pages/errors/base_error.html" %}
{% set page_title = _("Sorry, there's a problem with the service") %}

{% block error_content %}
    <p>{{ _("If you entered a web address, check it is correct.") }}</p>
    <p>{% trans backup_url=BACKUP_SITE_URL %}Our scheduled publications can also be found on our <a href="{{ backup_url }}">backup site</a>.{% endtrans %}</p>
    <p>{% trans contact_url=CONTACT_US_URL %}If the web address is correct, or you selected a link or button, <a href="{{ contact_url }}">contact us</a>.{% endtrans %}</p>
{% endblock %}
