<!DOCTYPE html>
<html lang="en-GB">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sorry, there's a problem with the service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sorry, there's a problem with the service">
        <style>
            html {
                background-color: #eee;
                font-family: sans-serif;
                color: rgba(0, 0, 0, 0.8);
            }

            body {
                max-width: 40rem;
                margin: 0 auto;
                padding: 2rem;
            }

            .errorcode {
                color: rgba(0, 0, 0, 0.25);
                margin-top: 2rem;
                font-size: 0.8rem;
            }
        </style>
    </head>

    <body>
        <h1>Sorry, there's a problem with the service</h1>
        <p>Our scheduled publications can also be found on our <a href="https://backup.ons.gov.uk/">backup site</a>.</p>
        <p>If you have any questions, <a href="/aboutus/contactus/generalandstatisticalenquiries">contact us</a>.</p>
    </body>

</html>
