{% extends "wagtailadmin/generic/base.html" %}

{% block titletag %}{{ page_title }}: {{ page_subtitle }}{% endblock %}

{% block main_content %}
    <p>This page is currently ready to be published. Are you sure you want to unlock editing for this page?</p>

    <form action="{{ unlock_url }}" method="post">
        {% csrf_token %}

        <div>
            <button class="button" type="submit">Yes, unlock it</button>
            <a href="{{ next }}" class="button button-secondary">No, don’t unlock</a>
        </div>
    </form>
{% endblock %}
