<div class="ons-u-mb-l national-statistics">
    <h2 class="ons-u-fs-m ons-u-flex-ai-c">
        <span>{{ _("Accredited Official Statistics") }}</span>
        {% include "templates/components/accredited/accredited-logo.html" %}
    </h2>
    <p>
        {% trans trimmed %}
            These are accredited official statistics. They have been independently reviewed by the Office for Statistics Regulation (OSR) and found to comply with the standards of trustworthiness, quality and value in the <a href="https://code.statisticsauthority.gov.uk/the-code/">Code of Practice for Statistics</a>. This broadly means that the statistics:
        {% endtrans %}
    </p>
    <ul class="ons-list">
        <li class="ons-list__item">{{ _("meet user needs") }}</li>
        <li class="ons-list__item">{{ _("are presented clearly and accessibly") }}</li>
        <li class="ons-list__item">{{ _("are produced using appropriate data and sound methods") }}</li>
        <li class="ons-list__item">{{ _("are managed impartially and objectively in the public interest") }}</li>
    </ul>
</div>
