{% extends "templates/base_page.html" %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/error/_macro.njk" import onsError %}

{% block html_class %}no-scroll-behaviour{% endblock %}

{% block title %}Password required{% endblock %}

{% block body_class %}template-password-required{% endblock %}

{% block header_area %}
    {# fmt:off #}
    {{
        onsBreadcrumbs({
            "ariaLabel": breadcrumbs_aria_label,
            "itemsList": page.get_breadcrumbs(request=request),
            "variant": 'grey'
        })
    }}
    {{
        onsHero({
            "title": page.title,
            "variants": 'grey',
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block main %}
    <h2>Password required</h2>

    <p>Please enter the password to proceed.</p>

    <form action="{{ action_url }}" method="post">
        {% csrf_token %}

        {# fmt:off #}
        {% if form.non_field_errors() %}
            {% call onsError({
            "id": "password-required-form-errors",
            "text": _("There is a problem with your submission")
            }) %}
                <ul class="ons-list">
                    {% for error in form.non_field_errors() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endcall %}
        {% endif %}
        {# fmt:on #}

        <div class="ons-question ons-u-mb-xl">
            {# fmt:off #}
            {{
                onsPassword({
                    "id": form.password.id_for_label,
                    "name": form.password.name,
                    "label": {
                        "text": form.password.label
                    },
                    "error": {"text": form.password.errors | first} if form.password.errors else none
                })
            }}
            {# fmt:on #}
        </div>

        {% for field in form.hidden_fields() %}
            {{ field }}
        {% endfor %}

        {{ onsButton({"text": _("Continue")}) }}
    </form>
{% endblock %}
