{% macro onsChart(params) %}
    <div data-highcharts-base-chart data-highcharts-type="{{ params.chartType }}" data-highcharts-theme="{{ params.theme }}" data-highcharts-title="{{ params.title }}">
        <figure class="highcharts-figure" id="{{ params.domId }}">
            <h2>{{ params.title }}</h2>
            <h3>{{ params.subtitle }}</h3>
            <div data-highcharts-chart data-highcharts-id="{{ params.uuid }}"></div>
            {% if params.caption %}
                <figcaption>{{ params.caption }}</figcaption>
            {% endif %}
        </figure>

        <!-- Set scripts to pass the config and annotations values as json to the javascript -->
        {% set config_scriptid = ["config--", params.uuid] | join %}
        {{ params.config|json_script(config_scriptid) }}

        {% if params.annotations_values %}
            {% set annotations_values_scriptid = ["annotations-values--", params.uuid] | join %}
            {{ params.annotations_values|json_script(annotations_values_scriptid) }}
        {% endif %}

        {% if params.download_title and (params.download_image or params.download_csv or params.download_excel) %}
            {% if params.download_title %}<h3>{{ params.download_title }}</h3>{% endif %}
            <ol>
                {% if params.download_excel %}
                    <li><a href="{{ params.download_excel }}">Excel spreadsheet (XLSX format{% if params.download_excel_size %}, {{ params.download_excel_size }}{% endif %})</a></li>
                {% endif %}
                {% if params.download_csv %}
                    <li><a href="{{ params.download_csv }}">Simple text file (CSV format{% if params.download_csv_size %}, {{ params.download_csv_size }}{% endif %})</a></li>
                {% endif %}
                {% if params.download_image %}
                    <li><a href="{{ params.download_image }}">Image (PNG format{% if params.download_image_size %}, {{ params.download_image_size }}{% endif %})</a></li>
                {% endif %}
            </ol>
        {% endif %}
    </div>
{% endmacro %}
