<div data-highcharts-base-chart>
    {% if not media_already_loaded and object.media %}
        {{ object.media }}
    {% endif %}
    <figure class="highcharts-figure" id="chart-figure--{{ object.uuid }}">
        <h2>{{ object.title }}</h2>
        <h3>{{ object.subtitle }}</h3>
        <div data-highcharts-chart data-highcharts-id="{{ object.uuid }}"></div>
        {% if object.caption %}
            <figcaption>{{ object.caption|richtext }}</figcaption>
        {% endif %}
    </figure>
    {% set scriptid = ["config--", object.uuid] | join %}
    {{ config|json_script(scriptid) }}
</div>
