{% from "templates/datavis/_macro.njk" import onsChart %}

{% if not media_already_loaded and object.media %}
    {{ object.media }}
{% endif %}

{# fmt:off #}
{{
    onsChart({
        "chartType": object.highcharts_chart_type,
        "theme": object.theme,
        "title": object.title,
        "subtitle": object.subtitle,
        "uuid": object.uuid,
        "caption": object.caption|richtext,
        "config": config,
        "annotations_values": annotations_values,
        "download_title": "Figure 1 data",
        "download_image": "xyz",
        "download_image_size": "18KB",
        "download_csv": "xyz",
        "download_csv_size": "25KB",
        "download_excel": "xyz",
        "download_excel_size": "25KB",
    })
}}
{# fmt:on #}
