{% extends "templates/base_page.html" %}

{% from "components/accordion/_macro.njk" import onsAccordion %}

{% block main %}

    {# fmt:off #}
    {{
        onsAccordion({
            "id": "glossary-terms-accordion",
            "allButton": {
                "open": _("Show all"),
                "close": _("Hide all")
            },
            "itemsList": [
                {
                    "title": object.name,
                    "content": object.definition|richtext
                }
            ]
        })
    }}
    {# fmt:on#}

{% endblock %}
