{% from "components/featured-article/_macro.njk" import onsFeaturedArticle %}
{% from "components/image/_macro.njk" import onsImage %}
{% from "components/chart/_macro.njk" import onsChart %}

{% set article_data = article.as_featured_article_macro_data(request) %}
{% set article_child_data = article.as_featured_article_child_macro_data() %}

{% call onsFeaturedArticle(article_data) %}
    {# fmt:off #}
    {% if article_child_data.chart %}
        {{
            onsChart(article_child_data.chart)
        }}
    {% elif article_child_data.image %}
        {{
            onsImage(article_child_data.image)
        }}
    {% endif %}
    {# fmt:on #}
{% endcall %}
