{% from "components/chart/_macro.njk" import onsChart %}

{# fmt:off #}
{{
    onsChart({
        "chartType": value.block.highcharts_chart_type,
        "theme": value.theme,
        "title": value.title,
        "subtitle": value.subtitle,
        "id": block_id,
        "caption": value.caption,
        "legend": config.legend,
        "yAxis": config.yAxis,
        "xAxis": config.xAxis,
        "series": config.series,
        "use_stacked_layout": value.use_stacked_layout,
        "annotations_values": annotations_values,
        "download": download,
    })
}}
{# fmt:on #}
