<div data-highcharts-base-chart data-highcharts-type="{{ value.highcharts_chart_type }}" data-highcharts-theme="{{ value.theme }}" data-highcharts-title="{{ value.title }}">
    {% if not media_already_loaded and value.media %}
        {{ value.media }}
    {% endif %}
    <figure class="highcharts-figure" id="chart-figure--{{ value.id }}">
        <h2>{{ value.title }}</h2>
        <h3>{{ value.subtitle }}</h3>
        <div data-highcharts-chart data-highcharts-id="{{ block_id }}"></div>
        {% if value.caption %}
            <figcaption>{{ value.caption|richtext }}</figcaption>
        {% endif %}
    </figure>
    {% set scriptid = ["config--", block_id] | join %}
    {{ config|json_script(scriptid) }}
</div>
