{% from "components/accordion/_macro.njk" import onsAccordion %}

<section id="{{ value.title|slugify() }}">

    <h2 class="ons-u-fs-l">{{ value.title }}</h2>

    {% set glossary_terms=[] %}

    {% for glossary_term in value.content %}
        {% do glossary_terms.append({
        "title": glossary_term.name,
        "content": glossary_term.definition|richtext
        })
        %}
    {% endfor %}

    {# fmt:off #}
    {{
        onsAccordion({
            "id": "glossary-terms-accordion",
            "allButton": {
                "open": _("Show all"),
                "close": _("Hide all")
            },
            "itemsList": glossary_terms
        })
    }}
    {# fmt:on#}

</section>

