{% from "components/card/_macro.njk" import onsCard %}

{# fmt:off #}
    {{
        onsCard({
            "variant": 'feature',
            "title": {
                "id": figure.figure_id + "-card",
                "headingLevel": 3,
                "text": figure.title,
                "url": figure.url,
            },
            "body":{
                "id": figure.figure_id + "-text",
                "figure": figure.figure,
                "text": figure.supporting_text,
            }
        })
    }}
{# fmt:on #}
