{% from "components/card/_macro.njk" import onsCard %}

{% set error_text = _("Error") %}
{% set error_supporting_text = _("Error retrieving figure") %}

{# fmt:off #}
    {{
        onsCard({
            "variant": 'feature',
            "title": {
                "id": figure.figure_id + "-card",
                "headingLevel": 3,
                "text": figure.title if figure.title else error_text,
                "url": figure.url if figure.url else "",
            },
            "body":{
                "id": figure.figure_id + "-text",
                "figure": figure.figure if figure.figure else error_text,
                "text": figure.supporting_text if figure.supporting_text else error_supporting_text,
            }
        })
    }}
{# fmt:on #}
