{% from "components/card/_macro.njk" import onsCard %}
<div class="ons-container headline-figures">
    <h2 class="headline-figures__heading ons-u-fs-m">{{ _("Headline facts and figures") }}</h2>
    <div class="ons-grid ons-grid-flex-gap ons-grid-flex-gap--24 headline-figures__grid">
        {% for figure in figure_data %}
            <div class="ons-grid__col">
                {# fmt:off #}
                    {{
                        onsCard({
                            "variant": 'feature',
                            "title": {
                                "id": figure.figure_id + "-card",
                                "text": figure.title,
                                "url": figure.url,
                            },
                            "body":{
                                "id": figure.figure_id + "-text",
                                "figure": figure.figure,
                                "text": figure.supporting_text
                            }
                        })
                    }}
                {# fmt:on #}
            </div>
        {% endfor %}
    </div>
</div>
